@value makerGreen, makerLightPink, makerWhite from '../../common/colors.css';

.login {
  width: 30em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: makerWhite;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0.5rem;
}

.item {
  margin-bottom: 0.5em;
}

.button {
  width: 100%;
  height: 2.5em;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.2rem solid makerGreen;
  outline: none;
}

.button:hover {
  background-color: makerLightPink;
}

/* rem, em 차이점 */
/* rem: html 최상위 폰트 요소크기를 기준으로 크기가 정의됨 */
/* em: 현재 위치하고 있는 요소의 폰트크기 기준으로 크기가 정의됨 */
/*     하지만 현재 요소에서 폰트크기가 없다면 상위 부모요소에게서 상속받음 */
/*     상위 부모 2개의 요소가 있다면 1em = 16px x 1.25em x 1.5em 이렇게 크기가 정의됨 */

/* em 단위는 최상위 요소에 지정된 폰트 크기 말고, 다른 특정 요소의 폰트 크기에 따라 그 크기가 변해야 하는 곳에 사용하십시오.

  rem 단위는 em 단위를 쓸 필요가 없고, 또 브라우저의 폰트 크기 설정에 따라 그 크기가 변해야 하는 곳에 사용하십시오.
  (사이트 이동 메뉴에 속해 있는 각 항목마다 주변에 padding, margin 그리고 line-height을 설정할 때 em 값을 사용하면 좋습니다.)
  (만약에 메뉴의 폰트 크기가 변해도, 다른 주변 레이아웃에게 영향을 끼치지 않고, 메뉴 항목 주변의 공간도 비례해서 크기가 바뀌게 됩니다.)
  
  폰트 크기 지정을 비롯해서 꼭 em 단위를 써야 하는 곳이 아니라면 rem 단위를 사용하십시오.
  media queries에도 rem 단위를 쓰세요.
  
  다중 칼럼 레이아웃의 너비에는 em 혹은 rem을 쓰진 마십시오 - 대신 %를 쓰세요.
  
  만약에 크기가 변할 경우 해당 요소의 레이아웃이 깨지는 걸 막을 수 없다면 em과 rem 모두 쓰지 마세요. */
